---
- name: Install unattended-upgrades
  ansible.builtin.apt:
    name: unattended-upgrades
    state: present

- name: Configure main settings
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/50-unattended-upgrades
    owner: root
    group: root
    mode: "0644"
    content: |
      Unattended-Upgrade::Origins-Pattern {
        "o=Ubuntu,a=${distro_codename}-security";
        "o=Ubuntu,a=${distro_codename}-updates";
      };

      Unattended-Upgrade::Automatic-Reboot "true";
      Unattended-Upgrade::Automatic-Reboot-Time "02:00";

      Unattended-Upgrade::Remove-Unused-Dependencies "true";
      Unattended-Upgrade::Remove-New-Unused-Dependencies "true";

      Unattended-Upgrade::MinimalSteps "true";
      Unattended-Upgrade::Mail "root";
      Unattended-Upgrade::MailOnlyOnError "true";

- name: Enable periodic updates
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/20-auto-upgrades
    owner: root
    group: root
    mode: "0644"
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Download-Upgradeable-Packages "1";
      APT::Periodic::Unattended-Upgrade "1";
      APT::Periodic::AutocleanInterval "7";

- name: Ensure unattended-upgrades service is enabled
  ansible.builtin.systemd:
    name: unattended-upgrades
    enabled: yes
    state: started
