---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: yes

- name: autoremove and autoclean packages
  ansible.builtin.apt:
    autoremove: yes
    autoclean: yes
